html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map {
  z-index: 0;
  height: 100%;
}

.mdc-fab {
  z-index: 99;
  background-color: #3d5afe;
}

.mdc-fab--mini {
  background-color: #e8eaf6;
}

.contact .mdc-fab__icon {
  color: #5a5a5a;
}
